.reviewStar {
  float: left;
  width: 15%;
  padding: 10px;
  text-align: center;
}

.nameText {
  float: left;
  width: 12%;
  padding: 10px;
  border-bottom: 2px solid #857d70;
  font-size: large;
}

.contentText {
  float: left;
  width: 63%;
  padding: 10px;
  border-bottom: 2px solid #857d70;
  font-size: large;
}
